#mancala-board {
  display: grid;
  gap: 20px;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
  grid-template-rows: auto auto;
  margin: 0 5%;
  border: 1px solid #777;
  padding: 30px;
  border-radius: 30px;
}

h1 {
  text-align: center;
}

.store {
  width: 100%;
  border: 3px solid #777;
  grid-row-end: span 2;
  border-radius: 30px;
  position: relative;
}

.store:nth-child(7) {
  grid-column: 1;
  grid-row-start: 1;
}

.store:nth-child(14) {
  grid-column: 8;
  grid-row-start: 1; 
}

.pocket { 
  width: 100%; 
  padding-bottom: 100%;
  border: 3px solid #333;
  border-radius: 50%;
  position: relative;
}

.count  {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.store:nth-child(-n+8), 
.pocket:nth-child(-n+8) {
  border-color: red;
}

.store:nth-child(n+8),
.pocket:nth-child(n+8) {
  border-color: blue;
}
.pocket:nth-child(1) {
  grid-column: 2;
}

.pocket:nth-child(2) {
  grid-column: 3;
}

.pocket:nth-child(3) {
  grid-column: 4;
}

.pocket:nth-child(4) {
  grid-column: 5;
}

.pocket:nth-child(5) {
  grid-column: 6;
}

.pocket:nth-child(6) {
  grid-column: 7;
}

.pocket:nth-child(8) {
  grid-row: 2;
  grid-column: 7;
}

.pocket:nth-child(9) {
  grid-row: 2;
  grid-column: 6;
}

.pocket:nth-child(10) {
  grid-row: 2;
  grid-column: 5;
}

.pocket:nth-child(11) {
  grid-row: 2;
  grid-column: 4;
}

.pocket:nth-child(12) {
  grid-row: 2;
  grid-column: 3;
}

.pocket:nth-child(13) {
  grid-row: 2;
  grid-column: 2;
}

.subtitle {
  text-align: center;
}