.mancala_board {
  display: grid;
  gap: 20px;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
  grid-template-rows: auto auto;
  margin: 0 5%;
  padding: 30px;
  border-radius: 30px;
  background-color: #efefe6;
  color: #777;
}

h1 {
  text-align: center;
}

.store {
  width: 100%;
  border: 2px solid;
  grid-row-end: span 2;
  border-radius: 1rem;
  position: relative;
  background-color: #f3f3ef;
}

/* Set inactive player to dotted borders */
.active_player_2 .store:nth-child(7),
.active_player_1 .store:nth-child(14),
.active_player_2 .pocket:nth-child(-n+7),
.active_player_1 .pocket:nth-child(n+8) {
  border-style: dotted;
}

/* Active Player's pockets are clickable */
.active_player_1 .pocket:nth-child(-n+7),
.active_player_2 .pocket:nth-child(n+8) {
  cursor: pointer;
}

.pocket { 
  width: 100%; 
  padding-bottom: 100%;
  border: 2px solid;
  border-radius: 50%;
  position: relative;
}

/* pockets have a 3x3 array */
.pocket .stones_array {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-transform: translateY(-50%) translateX(-50%) ;
  transform: translateY(-50%) translateX(-50%);
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 25% 25% 25%;
  gap: 10%;
  width: 50%;
  height: 50%;
}

/* stores have a have a 4x6 array */
/* Stones don't need a specail array layout, they just fill in order */
.store .stones_array {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-transform: translateY(-50%) translateX(-46%) ;
  transform: translateY(-50%) translateX(-46%);
  height: 80%;
  width: 90%;
  display: grid;
  gap: 10%;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 7% 7% 7% 7% 7% 7%  ;
}

.stone {
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  background-color: #777;
  border-radius: 50%;
  color :#fff
}

/*
hide any stones, overflow will be shown as a "+ n"
*/
.pocket .stone:nth-child(n+10) { display: none;}
.store .stone:nth-child(n+25) { display: none;}

/* lay out pocket stones like domino dots */
.pocket[data-stones="1"] {
  .stone:nth-child(1) {
    grid-row: 2;
    grid-column: 2;
  }
  .count {
    display: none;
  };
}

.pocket[data-stones="2"] {
  .stone:nth-child(2) {
    grid-row: 3;
    grid-column: 3;
  }
}
.pocket[data-stones="3"] {
  .stone:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
  }
  .stone:nth-child(3) {
    grid-row: 3;
    grid-column: 3;
  }
}
.pocket[data-stones="4"] {
  .stone:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .stone:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }
  .stone:nth-child(4) {
    grid-row: 3;
    grid-column: 3;
  }
}

.pocket[data-stones="5"] {
  .stone:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .stone:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .stone:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
  }
  .stone:nth-child(5) {
    grid-row: 3;
    grid-column: 3;
  }
}
.pocket[data-stones="6"]  {
  .stone:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .stone:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
  }
  .stone:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
  .stone:nth-child(5) {
    grid-row: 3;
    grid-column: 1;
  }
  .stone:nth-child(6) {
    grid-row: 3;
    grid-column: 3;
  }
}
.pocket[data-stones="7"]  {
  .stone:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .stone:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
  }
  .stone:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
  .stone:nth-child(5) {
    grid-row: 3;
    grid-column: 1;
  }
  .stone:nth-child(6) {
    grid-row: 3;
    grid-column: 3;
  }
  .stone:nth-child(7) {
    grid-row: 2;
    grid-column: 2;
  }
}

.pocket[data-stones="8"] {
  .stone:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .stone:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
  }
  .stone:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
  .stone:nth-child(5) {
    grid-row: 3;
    grid-column: 1;
  }
  .stone:nth-child(6) {
    grid-row: 3;
    grid-column: 3;
  }
  .stone:nth-child(7) {
    grid-row: 1;
    grid-column: 2;
  }
  .stone:nth-child(8) {
    grid-row: 3;
    grid-column: 2;
  }
}

.pocket[data-stones="9"]  {
  .stone:nth-child(2) {
    grid-row: 1;
    grid-column: 3;
  }
  .stone:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
  }
  .stone:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
  .stone:nth-child(5) {
    grid-row: 3;
    grid-column: 1;
  }
  .stone:nth-child(6) {
    grid-row: 3;
    grid-column: 3;
  }
  .stone:nth-child(7) {
    grid-row: 1;
    grid-column: 2;
  }
  .stone:nth-child(8) {
    grid-row: 2;
    grid-column: 2;
  }
  .stone:nth-child(9) {
    grid-row: 3;
    grid-column: 2;
  }
}

/*
Overflow counts apply to pockets and stores
*/
.count  {
  position: absolute;
  bottom: .2rem;
  width: 100%;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
}

.blink_me {
  animation: blinker .2s ease-in;
}

@keyframes blinker {
  50% {
    transform: scale(1.05);
  }
}

/* Player colors */
.store:nth-child(-n+8), 
.pocket:nth-child(-n+8) {
  border-color: #dd9292;
  background-color: #ece5e5;
}

.store:nth-child(n+8),
.pocket:nth-child(n+8) {
  border-color: #acaceb;
  background-color: #e8e8e8;
}

/* Change Orientation based on player perspective */
.player_orientation_1 {
  .store:nth-child(7) {
    grid-column: 8;
    grid-row-start: 1;
  }
  
  .store:nth-child(14) {
    grid-column: 1;
    grid-row-start: 1; 
  }
  
  .pocket:nth-child(1) {
    grid-column: 7;
    grid-row:2;
  }
  
  .pocket:nth-child(2) {
    grid-column: 6;
    grid-row:2;
  }
  
  .pocket:nth-child(3) {
    grid-column: 5;
    grid-row:2;
  }
  
  .pocket:nth-child(4) {
    grid-column: 4;
    grid-row:2;
  }
  
  .pocket:nth-child(5) {
    grid-column: 3;
    grid-row:2;
  }
  
  .pocket:nth-child(6) {
    grid-column: 2;
    grid-row:2;
  }
  
  .pocket:nth-child(8) {
    grid-row: 1;
    grid-column: 2;
  }
  
  .pocket:nth-child(9) {
    grid-row: 1;
    grid-column: 3;
  }
  
  .pocket:nth-child(10) {
    grid-row: 1;
    grid-column: 4;
  }
  
  .pocket:nth-child(11) {
    grid-row: 1;
    grid-column: 5;
  }
  
  .pocket:nth-child(12) {
    grid-row: 1;
    grid-column: 6;
  }
  
  .pocket:nth-child(13) {
    grid-row: 1;
    grid-column: 7;
  }
}

.player_orientation_2 { 
  .store:nth-child(7) {
    grid-column: 1;
    grid-row-start: 1;
  }
  
  .store:nth-child(14) {
    grid-column: 8;
    grid-row-start: 1; 
  }
  
  .pocket:nth-child(1) {
    grid-column: 2;
  }
  
  .pocket:nth-child(2) {
    grid-column: 3;
  }
  
  .pocket:nth-child(3) {
    grid-column: 4;
  }
  
  .pocket:nth-child(4) {
    grid-column: 5;
  }
  
  .pocket:nth-child(5) {
    grid-column: 6;
  }
  
  .pocket:nth-child(6) {
    grid-column: 7;
  }
  
  .pocket:nth-child(8) {
    grid-row: 2;
    grid-column: 7;
  }
  
  .pocket:nth-child(9) {
    grid-row: 2;
    grid-column: 6;
  }
  
  .pocket:nth-child(10) {
    grid-row: 2;
    grid-column: 5;
  }
  
  .pocket:nth-child(11) {
    grid-row: 2;
    grid-column: 4;
  }
  
  .pocket:nth-child(12) {
    grid-row: 2;
    grid-column: 3;
  }
  
  .pocket:nth-child(13) {
    grid-row: 2;
    grid-column: 2;
  }
}

.conclusion,
.subtitle {
  text-align: center;
}

.subtitle {
  color: #999;
}